/*global function*/

html {
	font-size: 16px;
	font-family: "Verdana", Sans-serif;
	color: black; 
}

body{
	margin: 0;
}

main{
  background-color: #ffffff;
  position:relative;
  width:100%;
}

/*universal styling h1, h2, h3, h4, h5, h6 */
h2{
	font-size: 25px;
	text-align: center;
}

h4{
	font-family: Convergence;
	font-size: 20px;
	font-weight: bold;
	font-weight: normal;
}

h6{
	font-family: Convergence;
	font-size: 20px;
}

/* header section*/
header{
	background-color: yellow;
	height: 4rem; 
	width: 100%;
	justify-content: space-between;
	position: fixed;
	display: flex; 
	z-index: 1; 
}

/*styling text Colmar Academy*/
.header-title{
  font-weight: 400;
  color: #000000;
}

header-name{
	font-weight: 200;
	color:#A9A9A9;
}

/*logo*/
.logo{
	display: flex;  
	justify-content: space-between;
	align-items: center;
	
}

.logo img{
   margin-left: 1.5rem;
   height: 3rem; 
}

header .logo .header-name{
	color: #FFD700 ;
}
/*navigation*/
nav{
  align-self: center; 
  justify-content: space-between;
}

nav ul {
  padding: 1rem; 
}


.desktop-nav a{
  padding: 0px 1rem; 
}

a{
  text-decoration: none;
  color: #A9A9A9;
}

/*mobile display*/
.mobile-nav{
  display: none;
}

#mobile-pic{
  display: none;
}



/*Section 1 Learn something new*/
.banner{
	position: relative;
    top: 4rem; 
    background-color: #D3D3D3;
    display: flex; 
    padding: 2rem 2.5rem 2rem 1.5rem; 
    width: 100%;		
}

.banner img{
    width: 60%;
    padding-right: 2.5rem;
    vertical-align: center;
    display: inline-block;
}

.side-text2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%
}

.side-text2 h1 {
  color: white;
  margin: 0.5rem 0; 
  padding: 0.4rem 0;
  font-size: 3rem;
  font-weight: normal;
}

.side-text2 h3 {
  color: white;
  margin: 0.5rem 0; 
  padding: 0.4rem 0;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: normal;
}

.button {
  background-color: #A9A9A9;
  color:   #00008B ;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  margin: 1rem 0;
}



/*Section 2 Main story section*/

.information {
  width: 100%;
  color: #808080;
  padding: 2rem 0 0 0;
  justify-content: space-around;
  display: flex;
  
}

.multi-container{
  width:100%;
  display: flex;

}
  
.mainstory-section {
  width: 70%;
  padding: 6rem 1.5rem; 
 
}

.mainstory-section img {
  width: 100%;
  height: auto;
 
}

.mainstory-section h2 {
  font-size: 2rem;
  padding: 1rem 0 0 0;
}

.mainstory-section p {
  padding: 1rem 0 0 0;
  font-family: 'Verdana', sans-serif;
  font-size: 1rem;
}

.mainstory-section h5 {
  font-size: 1rem;
  padding: 5rem 0 0 0;
  margin: 0;
}


/*Section 2 Side story section*/
.sidestory{
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 4rem;
  margin-left: 0.2rem;
  background-color: white;
}

.sidestoryimage{
  display: flex;
}


/*sidestoryimage highlighted*/
.highlighted {
  background-color: #D3D3D3;
  padding: 0;
}

#professor {
  width: 35%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/*image containing all 3 side stories*/

.imageinfo2 {
  width: 30%;
  margin-top: 2rem;
  margin-left: 1rem;
}

.imageinfo2 img {
  width: 100%;
  margin-bottom: 1rem;
  
}
/*description side containing all 3 side stories*/
.description {
  margin: auto 0;
  padding-left: 1rem;
}

.description h1, .description p {
  margin-bottom: .5rem;
}

.description a {
  color: blue;
}

/*Section 3 Start Learning */

.courses{
  color: #808080;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  padding-top: 1rem;
  background-color: beige;

}

.courses-pack{
  width:90%;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.course-container{
  width:30%;
  height:auto;
  margin: 0 .5rem 2rem .5rem;
  background-color: #ffffff;
}

.courses h2{
  text-align: center;
}

.course-container img{
  width:100%;
  height: auto;
}

.course-text{
  padding:1rem 0rem 0rem 1rem;
  height: 190px;
  margin: 0;
  transition:color 600ms, background-color 600ms;
}

.course-text:hover{
background-color: #e7e4e5;
color:#404040;
}

/*Section 4 - Thesis section */
#section4-header {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#exhibition {
  display: flex;
}

.reimagine-urban {
  width: 60%;
  margin-left: 1.5rem;
  margin-bottom: 2rem;
}

.reimagine-urban h4 {
  font-size: 2rem;
}

.reimagine-urban p {
  font-size: 1rem;
  line-height: 1.5;
}

video {
  width: 100%;
}

.side-article {
  display: flex;
  padding: 1rem;
  margin-left: 1rem;
}
.fisma-newyork {
  width: 34.1rem;
  display: flex;
  flex-direction: column;
}

.side-pic img {
  max-height: 10rem;
}

.side-text {
  margin-left: 1rem;
}



/*Footer section*/

footer {
  width: 100%;
  height: 4rem;
  background-color: #D3D3D3;
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}
footer span {
  margin-left: 1.5rem;
}

footer a {
  padding-right: 1rem;
}

/* Mobile devices*/
@media only screen and (max-width:625px) {

/* below elements that will be turn off from the desktop version of the site */
footer nav, .desktop-nav, .logo, .mainstory-section,.mainstory-section h6,.mainstory-section h5, .mainstory-section p, .mainstory-section img,
.exhibition, .reimagine-urban p, .reimagine-urban h4, .reimagine-urban img,.fisma-newyork, .side-article, .side-text, .side-pic, .course-container img,
.course-container p, .desktop, .social{
  display:none;
}

/* menu bar in mobile version changes into icons */
.mobile-nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

 
.mobile-nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

.mobile-nav li {
    padding: 0;
  }
 
/* changes to the main-section area */

.button{
  width:70%;
  align-items: center;
}

.banner{
  width:100%;
  height:auto;
  display:flex;
  flex-flow: column;
  justify-content: center;
  background-color: #e7e4e5;
  align-items: center;
}

.side-text2{
  width:90%;
  height:auto;
}

.banner img{
  width: 100%;
  height: auto;
  padding:0;
  margin: 0;
  display: flex;
  justify-content: center;
}


/* Section 2 - mobile display on side stories */
@media only screen and (max-width: 450px) {
.multi-container {
   width:100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  }

 #mobile-pic {
     width:100%;
     height: auto;
     display:flex;
     flex-direction: column;
     box-sizing: border-box;
     padding: 1rem 1rem .5rem 1rem;
  }

#mobile-pic img {
    width: 100%;
	
  }

#professor{
	display: block;
	width: 100%;
}
  
.information .description {
    display: block;
    margin-bottom: 1rem;
  }



/* Section 3 - mobile display on Courses */

.courses-pack{
  flex-flow: column;
}

.course-container{
  width:100%;
  height:auto;
  padding:0;
  margin:0 0 8px 0;
}

.course-text{
  width: 93%;
  height: auto;
  padding:16px;
  color: #909090;
  transition:font-weight 200ms, color 600ms, background-color 600ms;
}

.course-text:hover{
background-color: #D3D3D3;
color:#303030;
font-weight: bold;
}

.courses h3{
  padding: 2rem 0 1rem 0;
  margin: 0;
}
.course-container a{
  display:block;
  font-size: 1.4rem;
  line-height: 1.2;
  padding:0;
  border: 0;
  margin 0;
  width: 100%;
}

/* changes to thesis section. Detail boxes are removed.*/
  .reimagine-urban {
    width: 100%;
  }

video{
  width: 90%;
}

/* footer changes */
h5{
  margin:2rem 0 1rem 0;
}